img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-image: url('../images/pear_bg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
